<div th:replace="~{app :: layout(users, ~{::#main_content})}" xmlns:th="http://www.thymeleaf.org">
    <main class="container" id="main_content">
        <div class="mt-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Email</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user, stats:${users}">
                        <td th:text="${stats.count}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.password}"></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </main>
</div>